<!-- Navbar Component -->
<header class="navbar">
  <div class="logo">
    <a href="HomePage.html">
      <img src="images/ourLogo.png" alt="BrandStore Logo" class="logo-img" />
    </a>
  </div>
  <ul class="nav-links">
    <li><a href="HomePage.html">Home</a></li>
    <li class="dropdown-container">
      <a href="#" class="dropdown-toggle"
        >Products <i class="fas fa-chevron-down"></i
      ></a>
      <div class="dropdown-menu">
        <div class="dropdown-section">
          <h4>Men's Collection</h4>
          <a href="mens-products.html" class="view-all">View All Men's</a>
          <a href="mens-products.html?category=shirts">Shirts</a>
          <a href="mens-products.html?category=pants">Pants</a>
          <a href="mens-products.html?category=jackets">Jackets</a>
          <a href="mens-products.html?category=shoes">Shoes</a>
          <a href="mens-products.html?category=accessories">Accessories</a>
        </div>
        <div class="dropdown-section">
          <h4>Women's Collection</h4>
          <a href="womens-products.html" class="view-all">View All Women's</a>
          <a href="womens-products.html?category=tops">Tops</a>
          <a href="womens-products.html?category=dresses">Dresses</a>
          <a href="womens-products.html?category=pants">Pants</a>
          <a href="womens-products.html?category=shoes">Shoes</a>
          <a href="womens-products.html?category=accessories">Accessories</a>
        </div>
        <div class="dropdown-section">
          <h4>Children's Collection</h4>
          <a href="childrens-products.html" class="view-all">View All Children's</a>
          <a href="childrens-products.html?category=boys">Boys</a>
          <a href="childrens-products.html?category=girls">Girls</a>
          <a href="childrens-products.html?category=babies">Babies</a>
        </div>
      </div>
    </li>
    <li><a href="contactus.html">Contact Us</a></li>
    <li><a href="about.html">About</a></li>
    <li>
      <a href="#" class="cart-link" id="cart-icon">
        <i class="fas fa-shopping-cart"></i>
        <span class="cart-count">0</span>
      </a>
    </li>
  </ul>
  <div class="user-menu">
    <i class="fas fa-user user-icon" id="userIcon"></i>
    <div class="dropdown" id="userDropdown">
      <a href="loginuser.html">Login</a>
      <a href="signup.html">Sign Up</a>
    </div>
  </div>
</header>
